.sidebar-container {
  height: 100vh;
  width: 20vw;
  border-top-right-radius: 2px;
  background-color: #003f8f;
}

.sidebar {
  width: 310px;
  background-color: #003f8f;
  color: #FFFFFF;
}

.logo-container {
  text-align: center;
  padding: 20px;
}

.logo-container img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.business-name {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

mat-nav-list {
  padding: 5px;
  margin: 0;
  list-style: none;
}

mat-nav-list a {
  margin: 5px;
}

mat-nav-list span {
  text-decoration: none;
  color: #FFFFFF;
}

mat-list-item {
  padding: 10px;
  border-bottom: 1px solid #FFFFFF;
}

mat-list-item:hover {
  background-color: #1976D2;
}

mat-icon {
  margin-right: 10px;
  color: #FFFFFF;
}
