<div class="orden-table-container">
  <h2>{{ spaceName }} - Mesa {{ mesaId }}</h2>

  <div class="orden-table-body">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="beverage">
        <th mat-header-cell *matHeaderCellDef style="background-color: #333333; color: #fff;"> Bebida </th>
        <td mat-cell *matCellDef="let item"> {{item.beverageName}} </td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef style="background-color: #333333; color: #fff;"> Cantidad </th>
        <td mat-cell *matCellDef="let item">
          <mat-form-field>
            <input matInput type="number" [(ngModel)]="item.quantity" (ngModelChange)="updateQuantity(item)">
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef style="background-color: #333333; color: #fff;"> Precio </th>
        <td mat-cell *matCellDef="let item"> {{item.beveragePrice | currency}} </td>
      </ng-container>

      <ng-container matColumnDef="subtotal">
        <th mat-header-cell *matHeaderCellDef style="background-color: #333333; color: #fff;"> Subtotal </th>
        <td mat-cell *matCellDef="let item"> {{item.subtotal | currency}} </td>
      </ng-container>

      <ng-container matColumnDef="delivered">
        <th mat-header-cell *matHeaderCellDef style="background-color: #333333; color: #fff;"> ¿Entregado? </th>
        <td mat-cell *matCellDef="let item">
          <button mat-icon-button (click)="toggleDelivered(item)">
            <mat-icon [color]="item.delivered ? 'primary' : 'warn'">
              {{item.delivered ? 'check_circle' : 'cancel'}}
            </mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef style="background-color: #333333; color: #fff;"> Acciones </th>
        <td mat-cell *matCellDef="let item">
          <button mat-icon-button (click)="deleteOrder(item)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

    <div class="orden-table-header">
      <button  class="agregar-pedido-btn" (click)="openAgregarPedidoDialog()">Agregar Bebida</button>
    </div>

    <button class="confirmar-orden-btn" (click)="confirmarOrden()">Confirmar orden</button>

    <h3>Total: {{ total | currency }}</h3>
    <button class="cobrar-btn" (click)="openCobrarDialog()">Cobrar</button>
  </div>
</div>
