<div class="mesa-detalle-container">
  <h2>{{ spaceName }} - Mesa {{ mesaId }}</h2>
  <button mat-raised-button class="back-btn" color="primary" (click)="goBack()">Regresar a Mesas</button>

  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Nombre de la bebida -->
    <ng-container matColumnDef="beverage">
      <mat-header-cell *matHeaderCellDef> Bebida </mat-header-cell>
      <mat-cell *matCellDef="let item">
        {{ item.beverageName }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <mat-header-cell *matHeaderCellDef> Cantidad </mat-header-cell>
      <mat-cell *matCellDef="let item">
        <button mat-icon-button (click)="decrementQuantity(item)">
          <mat-icon>remove</mat-icon>
        </button>
        {{ item.quantity }}
        <button mat-icon-button (click)="incrementQuantity(item)">
          <mat-icon>add</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <!-- Precio -->
    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef> Precio </mat-header-cell>
      <mat-cell *matCellDef="let item">
        {{ item.beveragePrice | currency }}
      </mat-cell>
    </ng-container>

    <!-- Subtotal -->
    <ng-container matColumnDef="subtotal">
      <mat-header-cell *matHeaderCellDef> Subtotal </mat-header-cell>
      <mat-cell *matCellDef="let item">
        {{ item.subtotal | currency }}
      </mat-cell>
    </ng-container>

    <!-- Estado de entrega -->
    <ng-container matColumnDef="delivered">
      <mat-header-cell *matHeaderCellDef> Entregado? </mat-header-cell>
      <mat-cell *matCellDef="let item">
        <button mat-icon-button (click)="toggleDelivered(item)">
          <mat-icon [color]="item.delivered ? 'primary' : 'warn'">{{ item.delivered ? 'check_circle' : 'cancel' }}</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <!-- Acciones -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
      <mat-cell *matCellDef="let item">
        <button mat-icon-button (click)="deleteOrder(item)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let item; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [length]="dataSource.data.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>

  <button mat-raised-button (click)="openAgregarPedidoDialog()">Agregar Bebida</button>

  <h3>Total: {{ total | currency }}</h3>
  <button mat-raised-button (click)="openCobrarDialog()">Cobrar</button>
</div>
