.tables-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.table-card {
  width: 210px;
}

.table-free {
  background-color: lightgreen !important; /* Sobrescribe el fondo de mesa libre, porque no sirve modificar Angular Material */
}

.table-occupied {
  background-color: lightcoral !important;
}

.back-button {
  margin-bottom: 20px;
  text-align: left;
}

.back-btn {
  width: auto;
  background-color: #333333 !important;
  color: #FFFFFF !important;
}

.card-btn {
  width: 100%;
  background-color: #333333 !important;
  color: #FFFFFF !important;
}

.card-btn.occupied {
  background-color: red !important;
  color: white !important;
}
