<mat-drawer-container *ngIf="shouldShowSidebar()" class="sidebar-container">
  <mat-drawer #drawer class="sidebar" mode="side" opened>
    <app-sidebar></app-sidebar> <!-- Sidebar -->
  </mat-drawer>

  <mat-drawer-content>
    <router-outlet></router-outlet> <!-- Aquí se carga el componente de configuraciones -->
  </mat-drawer-content>
</mat-drawer-container>

<!-- Cuando el sidebar no se muestra, solo se carga el router-outlet -->
<div *ngIf="!shouldShowSidebar()">
  <router-outlet></router-outlet> <!-- Para Login y Register -->
</div>
