.beverage-dialog-container {
  max-height: 80vh; /* Ajusta esto según sea necesario */
  overflow-y: auto;
  padding: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"], input[type="number"], select {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"], button[type="button"] {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
}

button[type="submit"]:hover, button[type="button"]:hover {
  background-color: #3e8e41;
}
